.mms--toolbar-button {
	border-radius: 4px;
	padding: 0 4px;
	height: 32px;
	min-width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: black;
	border: 1px solid black;
	color: white;
	font-size: 14px;
	font-weight: 500;
	user-select: none;
}

.mms--toolbar-button svg {
	fill: white;
	width: 14px;
	height: 14px;
}

.mms--toolbar-button:focus {
	border: 1px solid rgba(255, 255, 255, .3);
}

.mms--toolbar-button.mms--active {
	background-color: rgba(255, 255, 255, .3);
}

.mms--toolbar-button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .2);
}

.mms--toolbar-button.mms--disabled {
	color: rgba(255, 255, 255, .6);
}
.mms--toolbar-button.mms--disabled svg {
	fill: rgba(255, 255, 255, .6);
}

.mms--toolbar-button.mms--disabled:hover {
	cursor: default;
	background-color: inherit;
}

.mms--toolbar-spacer {
	width: 1px;
	height: 22px;
	background-color: rgba(255, 255, 255, .2);
	margin: auto;
	margin-left: 6px;
	margin-right: 6px;
}

.mms--toolbar-back {
	font-size: 11px !important;
}