.mms--toolbar {
	background-color: black;
	padding: 4px;
	color: white;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
}

/* prevent toolbar from receiving focus while selecting text */
body:active .mms--toolbar {
  pointer-events: none;
}